* {
    box-sizing: border-box;
}

input[type=text],
input[type=password],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}


label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=button] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=button]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;

    padding: 20px;

}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.mediaBox {
    display: flex;
    flex-wrap: wrap;
}

.mediaTitle {
    width: 325px;
    margin: auto;
    padding: 5px;
}

.input-field {
    padding-bottom: 5px;
}

.emptySpace {
    padding: 5px;
}

.checkGif {
    float: right;
    padding: 2px 2px;
}

.submissionMessage {
    float: right;
    padding-top: 50px;
    padding-right: 10px;
}

.mediaBox3 {
    display: flex;
    align-items: center;
    height: 80%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}

.media {

    padding: 15px 30px;
    font-weight: 500
}

.formBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.submissionArea {
    padding-right: 24%;
}