.toolbar {
  display: flex;
  flex-direction: column;
  ;
}

.on-my-watch-title {
  padding-top: 10px;
}

.navbar-buttons {
  display: flex;
  justify-content: space-between;
  padding: 40px 30px 20px 0;
}


.home-button {
  display: flex;
  padding-left: 30px;
}

.recommendation-button {
  display: flex;
  justify-content: space-between;
  width: 700px;

}

.poster-and-text {
  display: flex;
  /* margin-left: 200px; */
}

.avatar-title-tooltips {
  display: flex;
  border: 2px solid;
  width: 70vw;
  justify-content: flex-start;
}

.recommendation {
  height: 120px;
  overflow: scroll;
}

.card-content {
  display: flex;
  flex-direction: column;
  /* border: 2px solid; */
  width: 70vw;
  justify-content: space-between;
  align-items: flex-start;
}

.card-header {
  /* padding-left: 200px; */
  display: flex;
  justify-content: space-between;
  /* align-items: flex-start; */
}

.follow-image {
  justify-content: space-between;
}

.card {
  /* display: flex; */
  /* flex-wrap: wrap; */
  padding-top: 50px;
  margin-left: 250px;
  margin-right: 200px;
}




.entire-login-form {
  /* border: 2px solid; */
  width: 300px;
  height: 400px;
  text-align: center;
  margin: auto;

}

#login-form,
.login-form {
  text-align: center;
  margin-top: 70px;
}



#username-field,
#password,
#confirm-password {
  margin: 10px;
}

#registration-form {
  width: 350px;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 35px;
}

#email-field {
  margin: 10px 10px 10px 10px;
}

.registration-text {
  padding-top: 40px;
}


.form-controls {
  display: flex;
  justify-content: space-between;
  width: 300px;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  align-items: center;
}

.form-submit {
  margin: auto;
}

.homepage-cards-and-welcome {
  display: flex;
  flex-direction: column;
  width: 70vw;
}

.homepage-sidebar-and-cards {
  display: flex;
}

.homepage-sidebar {
  border: 4px solid black;
  width: 25vw;
  margin: 20px 0 0 20px;
  font-size: 25px;
  padding: 0px 20px 0 20px;
  background-color: #293e8a;
  color: white;
  border-radius: 10px;
  height: 600px;
  list-style-type: none;
}

.my-stuff {
  font-size: 50px;
  padding-left: 15px;
  text-decoration: underline;
}

.watchlist-cards {
  display: flex;
  padding-left: 20px;
  align-items: center;
  justify-content: center;
}

.watchlist-cards {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  align-items: center;
  justify-content: center;
}


.detail-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.detail-page-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: 40px;
  padding-top: 40px;
}


.individual-comment {
  border: 3px solid #293e8a;
  margin-left: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 75vw;
  box-shadow: 0 0 3em 0px rgba(0, 0, 0, 0.3);
}

.comment-form {
  width: 75vw;
  margin-left: 10px;
}

.individual-comment {
  border: 3px solid #293e8a;
  margin-left: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 70vw;
  box-shadow: 0 0 3em 0px rgba(0, 0, 0, 0.3);
}

.comment-form {
  width: 75vw;
  margin-left: 80px;
}


.comment-button {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.following-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  /* border: 3px solid; */
  width: 80vw;
  /* justify-content: center; */
  padding-right: 40px;
  margin: auto
}

.following-list-item {
  width: 330px;
  padding-left: 5px;
  margin-right: 30px;

}

.following-list-names {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.following-list-cards {
  height: 400px;
  overflow-y: scroll;
  overflow-x: visible;
  display: flex;
  flex-wrap: wrap;
}

.following-smaller-card {
  display: flex;
  flex-direction: column;
  border: 2px solid #293e8a;
  border-radius: 5px;
  width: 20vw;
  padding: 0 0 10px 5px;
  margin-bottom: 10px;
  background-color: #e9eef0;
  align-items: flex-start;
}

.following-background {
  background-image: url('/public/Old_television.png');
  background-size: cover;
}

.following-info {
  display: flex;
  align-items: center;
}

.following-text {
  padding-left: 5px;
}

.following-list-name-and-avatar {
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  /* justify-content: space-around; */
  width: 350px;
  border: 2px solid;
  height: 100px;
  padding-top: 20px;
  background-color: #c1c5c9;
  padding-right: 5px;
  margin-bottom: 30px;
}

.movieBox {
  display: flex;
  flex-wrap: wrap;


}

.delete-recommendation {
  font-size: 14px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center
}

/* .watched-background {
  background: url('/public/Old_television.png') ;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  
} */








.movieIcon {
  padding: 10px;


}

.movieBox2 {
  display: flex;
  flex-wrap: wrap;
  border: #04AA6D;
  border-style: double;
  justify-content: center;


}

.center {
  margin: auto;
  width: 80%;
  border: 5px solid;
  padding: 5px;
}