.toolbar {
  display: flex;
  flex-direction: column;;
} 

.on-my-watch-title {
  padding-top: 10px;
}

.navbar-buttons {
  display: flex;
  justify-content:space-between;
  padding: 30px 30px 20px 0;
  }


.home-button {
  display: flex;
  padding-left: 30px;
}

/* .recommendation-button {
  padding-left: 40px;
} */

.poster-and-text {
  display: flex;
}

.card {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  margin-left: 100px;
}

.entire-login-form{
  /* border: 2px solid; */
  width: 300px;
  height: 400px;
  text-align: center;
  margin: auto;
  /* background-image: url('/public/old_tv.jpeg');
  background-size: cover; */
}

#login-form, .login-form{
  text-align: center;
  margin-top: 70px;
}
 #username-field, #password, #confirm-password {
   margin: 10px;
 }

 #registration-form {
   width: 350px;
   text-align: center;
   margin: auto;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin-top: 70px;
 }

 .form-controls {
   display:flex;
   justify-content: space-between;
   width: 300px;
   text-align: center;
   margin: auto;
 }

 .form-submit {
   margin: auto;
 }

 .homepage-sidebar-and-cards {
   display: flex;
 }

 .homepage-sidebar {
   border: 4px solid black;
   width: 1000px;
   margin: 20px 0 0 20px;
   font-size: 30px;
   padding: 0px 20px 0 20px;
   background-color: #293e8a;
   color: white;
   border-radius: 10px;
   height: 600px;
   list-style-type: none;
 }

 .my-stuff {
   font-size: 50px;
   padding-left: 15px;
   text-decoration: underline;
 }

 .watchlist-cards {
   display: flex;
   flex-direction: column;
   padding-left: 20px;
   align-items: center;
 }

 .detail-page {
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-around;
 }

 .detail-page-text {
   /* border: 2px solid; */
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-right: 40px;
 }

 

