.toolbar {
  display: flex;
  flex-direction: column;;
} 

.on-my-watch-title {
  padding-top: 10px;
}

.navbar-buttons {
  display: flex;
  justify-content:space-between;
  padding: 40px 30px 20px 0;
  }


.home-button {
  display: flex;
  padding-left: 30px;
}

.recommendation-button {
  display: flex;
  justify-content: space-between;
  width: 800px;
 
}

.poster-and-text {
  display: flex;
}

.card {
  /* display: flex; */
  /* flex-wrap: wrap; */ 
  padding-top: 50px;
  margin-left: 250px;
  margin-right: 200px;



  /* transition: all 0.2s ease-out; */
}

/* .card:hover {
  /* box-shadow: 0 0 4em 0px rgba(0, 0, 0, 0.4); */
  /* transform: scale(1.005);
  transition: 500ms linear */
/* }  */


.entire-login-form{
  /* border: 2px solid; */
  width: 300px;
  height: 400px;
  text-align: center;
  margin: auto;
  /* background-image: url('/public/old_tv.jpeg');
  background-size: cover; */
}

#login-form, .login-form{
  text-align: center;
  margin-top: 70px;
}
#username-field, #password, #confirm-password {
  margin: 10px;
}

#registration-form {
  width: 350px;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 35px;
}

#email-field {
  margin: 10px 10px 10px 10px;
}

.registration-text {
  padding-top: 40px;
}


.form-controls {
  display:flex;
  justify-content: space-between;
  width: 300px;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  align-items: center;
}

.form-submit {
  margin: auto;
}

.homepage-cards-and-welcome {
  display: flex;
  flex-direction: column;
  width: 70vw;
}

 .homepage-sidebar-and-cards {
   display: flex;
 }

 .homepage-sidebar {
   border: 4px solid black;
   width: 25vw;
   margin: 20px 0 0 20px;
   font-size: 25px;
   padding: 0px 20px 0 20px;
   background-color: #293e8a;
   color: white;
   border-radius: 10px;
   height: 600px;
   list-style-type: none;
 }

 .my-stuff {
   font-size: 50px;
   padding-left: 15px;
   text-decoration: underline;
 }

 .watchlist-cards {
   display: flex;
   padding-left: 20px;
   align-items: center;
   justify-content: center;
 }

 .detail-page {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
 }

 .detail-page-text {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content:flex-start;
   margin-right: 40px;
   padding-top: 40px;
 }

 .individual-comment {
   border: 3px solid #293e8a;
   margin-left: 15px;
   margin-bottom: 10px;
   border-radius: 5px;
   width: 75vw;
   box-shadow: 0 0 3em 0px rgba(0, 0, 0, 0.3);
 }

 .comment-form {
   width: 75vw;
   margin-left: 10px;
 }

.comment-button {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.following-list {
  display: flex;
}

.following-list-item {
  width: 360px;
}

.following-list-names {
  display: flex;
  flex-direction: column;
}

.following-smaller-card {
  display: flex;
  flex-direction: column;
  border: 2px solid #293e8a;
  border-radius: 5px;
  width: 20vw;
  padding: 0 0 10px 5px;
  margin-bottom: 10px;
  background-color: #e9eef0;
}

.following-list-name-and-avatar {
  display: flex;
}


 

