html {
  background-color: white;
}

.landing-page-header {
  display: flex;
  color: rgb(255, 255, 255);
  justify-content: space-between;
}

.login-register {
  display: flex;
  margin-right: 10px;
}

.login-register2 {
  display: flex;
  margin-right: 10px;
  gap: 15px;
}

.title {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.title:hover {

  cursor: pointer;
}

.landing-page-body {
  background: url('/public/film_image.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: .4;
  z-index: -1
}

.landing-page-text {
  position: fixed;
  z-index: 1;
  font-size: 30px;
  color: white;
  margin-left: 40px;
}

.overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: black;
  overflow: hidden;
  z-index: 0;
  opacity: .8
}

.toolbar {
  display: flex;
  flex-direction: column;
  ;
}

.space {
  width: 180px;
}

.on-my-watch-title {
  color: black;
}


.color-key {
  /* border: 2px solid; */
  width: 200px;
  height: 300px;
  margin: auto;
}

.close-color-key {
  display: flex;
  justify-content: flex-end;
}

.emotion-names {
  width: 150px;
  height: 30px;
  margin-Bottom: 10px;
  margin-left: 22px;
  padding-top: 4px;
}

.navbar-buttons {
  display: flex;
  color: black;
  padding: 30px 30px 0px 40px;
  align-items: flex-end;
}

.navbar-buttons-not-title {
  color: black;
  display: flex;
  width: 55vw;
  justify-content: right;
  float: right;
  gap: 50px;
}

.poster-and-text {
  display: flex;
}

.avatar-title-tooltips {
  display: flex;
  border: 2px solid;
  width: 70vw;
  justify-content: flex-start;
}

.recommendation {
  height: 120px;
  overflow: scroll;
}

.card-content {
  display: flex;
  flex-direction: column;
  width: 70vw;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 20px
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.follow-image {
  justify-content: space-between;
  filter: invert(17%) sepia(92%) saturate(6400%) hue-rotate(359deg) brightness(95%) contrast(118%);
}

.card {
  padding-top: 30px;
  margin-left: 250px;
  margin-right: 200px;
}


.entire-login-form {
  width: 300px;
  height: 400px;
  text-align: center;
  margin: auto;
}

.more-by-this-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#login-form,
.login-form {
  text-align: center;
  margin-top: 30px;
}

.label {
  width: 79px;
}

#username-field,
#password,
#confirm-password {
  margin: 10px;
}

#registration-form {
  width: 350px;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 35px;
}

#email-field {
  margin: 10px 10px 10px 10px;
}


.registration-text {
  padding-top: 40px;
}

.upload-pic {
  width: 110px
}


.form-controls {
  display: flex;
  justify-content: space-between;
  width: 300px;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  align-items: center;
}

.form-submit {
  margin: auto;
}

.homepage-cards-and-welcome {
  display: flex;
  flex-direction: column;
  width: 70vw;
}

.homepage-sidebar-and-cards {
  display: flex;
}

.homepage-sidebar {
  display: flex;
  border: 1px solid black;
  width: 17vw;
  margin: 120px 0 0 20px;
  font-size: 20px;

  padding: 20px 20px 0 20px;
  background-color: #382069;
  color: white;
  border-radius: 4px;
  height: 350px;
  list-style-type: none;
}



.homepage-sidebar-logged-out {
  border: 1px solid black;
  width: 20vw;
  margin: 30px 0 0 10px;
  font-size: 20px;
  padding: 20px 20px 0 20px;
  background-color: #e9eef0;
  color: black;
  border-radius: 10px;
  height: 600px;
  list-style-type: none;
}


.watchlist-cards {
  display: flex;
  padding-left: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 50px
}

.watchlist-cards {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  align-items: center;
  justify-content: center;
}


.detail-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.detail-page-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: 40px;
  padding-top: 40px;
}


.individual-comment {
  border: 3px solid #293e8a;
  margin-left: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 75vw;
  box-shadow: 0 0 3em 0px rgba(0, 0, 0, 0.3);
}

.individual-comment {
  border: 3px solid #293e8a;
  background-color: white;
  margin-left: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 70vw;
  box-shadow: 0 0 3em 0px rgba(0, 0, 0, 0.3);
}

.comment-form {
  width: 75vw;
  margin-left: 60px;
  font-size: 17px;
}

.write-comment {
  width: 500px;
}


.comment-button {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.unfollow-and-modal-question-mark {
  display: flex;
  flex-direction: column;

  align-items: flex-end;
  justify-content: space-between;
  height: 100px;
  padding-top: 0;
  margin-top: 0;
}

.following-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  width: 90vw;
  padding-right: 40px;
  margin: auto;
}

.following-list-item {
  width: 340px;
  padding-left: 5px;
  margin-right: 60px;
  margin-bottom: 30px;
}


.following-list-cards {
  height: 600px;
  overflow-y: scroll;
  overflow-x: visible;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
  padding-right: 10px;
}

.following-smaller-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #293e8a;
  border-radius: 5px;
  width: 20vw;
  height: 25%;
  padding: 0 0 10px 5px;
  margin-bottom: 10px;
  padding-top: 20px;
  background-color: #e9eef0;
  align-items: flex-start;
}


.following-info {
  display: flex;
  align-items: center;
}

.following-text {
  padding-left: 10px;
  margin-top: 10px
}

.following-text-title {
  margin-top: 0px
}

.avatar-and-name {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  padding-left: 5px;
}

.following-poster {
  margin-top: 20px;
}

.following-list-name-and-avatar {
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  justify-content: space-between;
  width: 350px;
  border: 1px solid #293e8a;
  height: 100px;
  background-color: #e4e8ed;
  padding-right: 5px;
  margin-bottom: 30px;
  margin-right: 20px;
  box-shadow: 5px 5px 9px 2px rgba(0, 0, 0, 0.23)
}

.modal-close {
  display: flex;
  flex-direction: column;
}

.movieBox {
  display: flex;
  flex-wrap: wrap;
}

.delete-recommendation {
  font-size: 14px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center
}

.see-comments {
  display: flex;
  margin-left: 850px
}

.avatars-and-medium {
  display: flex;
  width: 600px;
  height: 80px;
  justify-content: space-between;
}

.medium-and-watched-on {
  display: flex;
  flex-direction: column;
}

.avatars-who-else {
  display: flex;
}

.movieIcon {
  padding: 10px;
}

.movieIcon2 {
  overflow-y: scroll;
  overflow-x: visible;
  height: 600px;
}

.movieBox2 {
  display: flex;
  flex-wrap: wrap;
  border: #04AA6D;
  border-style: double;
  justify-content: center;
}

.center {
  margin-left: 65px;
  width: 80%;
  border: 1px solid #293e8a;
  padding: 5px;
  background-color: #e4e8ed;
}

.close-icon-and-title {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.close-icon-login {
  display: flex;
  justify-content: flex-end;
  width: 600px
}

/* .close-icon-and-following {
  display: flex;
  flex-direction: column;
} */


.movieTitleTest {

  width: 350px;
  word-break: keep-all;
  word-wrap: keep-all;
}

.searchBox {
  align-items: center;
}

.Search {
  padding-left: 20%;
  border-style: solid;
  border: black;
  width: 80%;
}

.logo {
  width: 10%;
}



.navbarBox {
  display: flex;
}

.carousel {
  padding-top: 1%;

}

.sidebarItem {
  padding-bottom: 30px;
}

.FieldParam {
  align-items: center;
  width: 80%;
  padding-left: 20%;
}

.searchBox {
  display: flex;
}

.more-by-user-modal {
  overflow-y: scroll;
  overflow-x: visible;
  height: 600px;
}


.other-user-text {
  font-size: 15px;
  padding-left: 5px;
}

.other-user-poster {
  margin-top: 30px;

  margin-right: 8px;
}

.emoji {
  position: absolute;
  margin-left: 93%;
  margin-top: 44%;
}

.emoji2 {
  margin-right: 4px;
  float: right;
}

.box6 {
  padding-top: 5%;
  padding-left: 20%;
  width: 80%;
}

.boxbox {
  display: flex;
}